@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto");
.bg-base-color {
  background-color: #0baf4e;
}

.btn-base-color {
  background-color: #0baf4e;
}

.text-base-color {
  color: #0baf4e;
}

.text-hover-base-color:hover {
  color: #0baf4e;
}

.border-base-color {
  border-color: #0baf4e !important;
}

.text-hover-base-color:hover {
  color: #0baf4e !important;
}

#home {
  background-image: url("../images/bg-home-1.jpg");
}

#fun-facts {
  background-image: url("../images/bg-fun-facts.jpg");
}

#skills {
  background-image: url("../images/bg-skills.jpg");
}

#quote {
  background-image: url("../images/bg-quote.jpg");
}

#keep-in-touch {
  background-image: url("../images/bg-keep-in-touch.jpg");
}

#comming-soon {
  background-image: url("../images/bg-coming-soon.jpg");
}

#contact {
  background-image: url("../images/bg-contact.jpg");
}

.features-block .block-icon {
  border: 1px solid #0baf4e;
}

.features-block .block-icon i {
  color: #0baf4e;
}

.features-block:hover .block-icon {
  background-color: #0baf4e;
}

.features-block:hover i {
  color: #fff;
}

.features-block:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 175, 78, 0)), color-stop(15%, rgba(11, 175, 78, 0.9)), color-stop(85%, rgba(11, 175, 78, 0.9)), to(rgba(11, 175, 78, 0)));
  background: linear-gradient(to bottom, rgba(11, 175, 78, 0) 0%, rgba(11, 175, 78, 0.9) 15%, rgba(11, 175, 78, 0.9) 85%, rgba(11, 175, 78, 0) 100%);
}

.carousel-custom .flickity-page-dots .dot.is-selected {
  background: #0baf4e;
}
/*# sourceMappingURL=style.css.map */