$green: #0baf4e;


.bg-base-color{
  background-color: $green;
}

.btn-base-color{
  background-color: $green;
}

.text-base-color{
  color: $green;
}

.text-hover-base-color:hover {
  color: $green;
}

.border-base-color{
  border-color: $green!important;
}

.text-hover-base-color:hover {
  color: #0baf4e !important;
}

// Google Font
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Roboto");

#home{
  background-image: url("../images/bg-home-1.jpg");
}

#fun-facts{
  background-image: url("../images/bg-fun-facts.jpg");
}

#skills{
  background-image: url("../images/bg-skills.jpg");
}

#quote{
  background-image: url("../images/bg-quote.jpg");
}

#keep-in-touch{
  background-image: url("../images/bg-keep-in-touch.jpg");
}

#comming-soon{
  background-image: url("../images/bg-coming-soon.jpg");
}

#contact{
  background-image: url("../images/bg-contact.jpg")
}

.features-block{
  .block-icon{
    border: 1px solid $green;
    i{
      color: $green;
    }
  }
  &:hover .block-icon{
    background-color: $green;
  }
  &:hover i{
    color: #fff;
  }
  &:before{
    background: -moz-linear-gradient(top, rgba(11, 175, 78, 0) 0%, rgba(11, 175, 78, 0.9) 15%, rgba(11, 175, 78, 0.9) 85%, rgba(11, 175, 78, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(11, 175, 78, 0)), color-stop(15%, rgba(11, 175, 78, 0.9)), color-stop(85%, rgba(11, 175, 78, 0.9)), color-stop(100%, rgba(11, 175, 78, 0)));
    background: -webkit-linear-gradient(top, rgba(11, 175, 78, 0) 0%, rgba(11, 175, 78, 0.9) 15%, rgba(11, 175, 78, 0.9) 85%, rgba(11, 175, 78, 0) 100%);
    background: -o-linear-gradient(top, rgba(11, 175, 78, 0) 0%, rgba(11, 175, 78, 0.9) 15%, rgba(11, 175, 78, 0.9) 85%, rgba(11, 175, 78, 0) 100%);
    background: -ms-linear-gradient(top, rgba(11, 175, 78, 0) 0%, rgba(11, 175, 78, 0.9) 15%, rgba(11, 175, 78, 0.9) 85%, rgba(11, 175, 78, 0) 100%);
    background: linear-gradient(to bottom, rgba(11, 175, 78, 0) 0%, rgba(11, 175, 78, 0.9) 15%, rgba(11, 175, 78, 0.9) 85%, rgba(11, 175, 78, 0) 100%);
  }

}

.carousel-custom .flickity-page-dots .dot.is-selected {
  background: $green;
}
